@import 'style.scss';
$color: #0065fd;

.title {
    margin: 15px 0 12px;
    background-color: $color;
    border-radius: 7px;
    padding: 20px 0;
    font-size: 20px;
    text-align: center;
}

.asdasd {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 7px;
}

.btn-person {
    border-radius: 7px;
    padding: 20px 0;
    text-align: center;
    border: 2px solid #3B3B3B;
}

.subject {
    margin: 50px 0 20px;
    text-align: center;
    display: inline-block;
    padding-bottom: 3px;
    border-bottom: 2px solid $color;
    font-size: 20px;
    font-weight: bold;
}

.section-title {
    text-align: center;
}

.table {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


.container-table {
    border-radius: 10px;
    margin: 2px;
    padding: 12px;
    background-color: #222;
    text-transform: capitalize;
    font-size: 14px;
    width: 133px;

    .details {
        display: flex;
        justify-content: space-between;
        color: #8C8C8C;
        border-bottom: 1px solid #3F3F3F;
        padding-bottom: 10px;
    }

    .user-info {
        p {
            margin-bottom: 12px;
        }
    }
}

// .btn-container {
//     margin-top: 20px;
//     text-align: center;
//     button {
//         margin-left: 10px;
//         background-color: $tem-bgColor;
//         border: none;
//         width: 55px;
//         height: 55px;
//         font-size: 20px;
//     }
// }
@media screen and (min-width:390px) {
    .table {
        width: 365px;
        margin: 0 auto;
    }

    .container-table {
        width: auto;
    }
}