@import 'transitin';
$tem-bgColor:greenyellow;
$tem-text:black;
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
    .welcome {
        position: absolute;
        display: none;
        background-color: $tem-bgColor;
        color: $tem-text;
        font-size: 20px;
        text-align: center;
        font-weight: bold;
        text-transform: capitalize;
        padding: 80px 0;
        width: 80%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        justify-items: center;
    }
}

.btn-menu {
    background-color: transparent;
    padding: 10px;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    float: right;
}

.menu {
    transform: translateX(-165px);
    position: absolute;
    left: 0;
    top: 0;
    background-color: #90909066;
    width: 165px;
    height: 100%;
    ul {
        margin-top: 40px;
        a {
            text-decoration: none;
        }
        li {
            list-style: none;
            padding: 15px 7px;
            cursor: pointer;
            transition: all 0.6s linear;
            font-size: 20px;
            font-weight: bold;
            text-transform: capitalize;
            text-decoration: none;
            color: white;
            &:hover {
                background-color: $tem-bgColor;
                color: $tem-text;
            }
        }
    }
    .under-menu {
        display: none;
        li {
            &:hover {
                background-color: $tem-text;
                color: $tem-bgColor;
            }
        }
        margin: 0;
    }
    // deskTop
    // .firstOne:hover .under-menu {
    //     display: block;
    // }
    // 
}

.block {
    display: block;
}

.container-table {
    display: none;
}

.btn {
    padding-top: 250px;
    transition: all 1s linear;
    button {
        text-transform: capitalize;
        margin: auto;
        cursor: pointer;
        display: block;
        font-size: 20px;
        font-weight: bold;
        padding: 15px 0;
        margin-bottom: 50px;
        width: 170px;
        border-radius: 7px;
        border: none;
        background-color: $tem-bgColor;
    }
}

.container-table {
    width: 100%;
    font-size: 20px;
    text-transform: capitalize;
    .namePepole {
        text-transform: uppercase;
        background-color: $tem-bgColor;
        color: $tem-text;
        font-size: 25px;
        text-align: center;
        padding: 10px 0;
        font-weight: bold;
    }
    // 
    .table {
        text-align: center;
        border-bottom: 2px solid $tem-bgColor;
        .date {
            margin-top: 10px;
            display: flex;
            justify-content: space-around;
        }
        p {
            margin: 20px 0;
            span {
                margin-left: 10px;
            }
        }
    }
}

@media screen and (min-width:552px) {
    .btn {
        padding-top: 350px;
    }
    .work {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 80px;
        align-items: center;
    }
    .welcome {
        span {
            font-size: 27px;
        }
    }
}

@media screen and (min-width:992px) {
    .work {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}