@import 'transitin';
$tem-bgColor:#eeff00;
$tem-text:black;
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #101010;
    color: white;
}

.btn-menu {
    background-color: transparent;
    padding: 10px;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    float: right;
}

.menu {
    transform: translateX(-165px);
    position: absolute;
    left: 0;
    top: 0;
    background-color: #90909066;
    width: 165px;
    height: 100%;
    ul {
        margin-top: 40px;
        a {
            text-decoration: none;
        }
        li {
            list-style: none;
            padding: 15px 7px;
            cursor: pointer;
            transition: all 0.6s linear;
            font-size: 20px;
            font-weight: bold;
            text-transform: capitalize;
            text-decoration: none;
            color: white;
            &:hover {
                background-color: $tem-bgColor;
                color: $tem-text;
            }
        }
    }
    .under-menu {
        display: none;
        li {
            &:hover {
                background-color: $tem-text;
                color: $tem-bgColor;
            }
        }
        margin: 0;
    }
    // deskTop
    // .firstOne:hover .under-menu {
    //     display: block;
    // }
    // 
}

.block {
    display: block;
}

.container-tables {
    display: none;
}

.btn {
    padding-top: 250px;
    transition: all 1s linear;
    button {
        text-transform: capitalize;
        margin: auto;
        cursor: pointer;
        display: block;
        font-size: 20px;
        font-weight: bold;
        padding: 15px 0;
        margin-bottom: 50px;
        width: 170px;
        border-radius: 7px;
        border: none;
        background-color: $tem-bgColor;
    }
}

.container-tables {
    // display: grid;
    // grid-template-columns: repeat(6, 1fr);
    .container-table:nth-child(even) {}
    .container-table {
        display: inline-block;
        border-radius: 10px;
        margin: 20px;
        padding: 15px;
        background-color: #222;
        text-transform: capitalize;
        font-size: 14px;
        .user-info {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            // grid-template-columns: repeat(2, 350px);
            p:nth-child(even) {
                text-align: end;
            }
            .name {
                color: $tem-bgColor;
            }
            p {
                margin-bottom: 15px;
            }
        }
    }
}

@media screen and (min-width:552px) {
    .btn {
        padding-top: 350px;
    }
}